.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.product__image {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.product__description {
    font-size: 0.8em;
}

.product__button {
    width: 100%;
}